.section{
    height: 100vh;
    background-color: #5264e8;
    opacity: 0.6;
    background-image:  linear-gradient(30deg, #b2dfc7 12%, transparent 12.5%, transparent 87%, #b2dfc7 87.5%, #b2dfc7), linear-gradient(150deg, #b2dfc7 12%, transparent 12.5%, transparent 87%, #b2dfc7 87.5%, #b2dfc7), linear-gradient(30deg, #b2dfc7 12%, transparent 12.5%, transparent 87%, #b2dfc7 87.5%, #b2dfc7), linear-gradient(150deg, #b2dfc7 12%, transparent 12.5%, transparent 87%, #b2dfc7 87.5%, #b2dfc7), linear-gradient(60deg, #b2dfc777 25%, transparent 25.5%, transparent 75%, #b2dfc777 75%, #b2dfc777), linear-gradient(60deg, #b2dfc777 25%, transparent 25.5%, transparent 75%, #b2dfc777 75%, #b2dfc777);
    background-size: 24px 42px;
    background-position: 0 0, 0 0, 12px 21px, 12px 21px, 0 0, 12px 21px;
 }
 
 .container {
    max-height: 90vh;
    min-height: 50vh;
    /* max-width: 90vw; */
    background: #1a0c56;
    background-image: linear-gradient(to top, #330867 0%, #21a5a5 100%);
 }
 
 .textBox::-webkit-scrollbar{
    width: 10px;
    height: 6px;
 }
 
 .textBox::-webkit-scrollbar-track {
    background-color: #1676e4;
    border-radius: 100px;
  }
 
 .textBox::-webkit-scrollbar-thumb {
    background-color: #c7c7d8;
    border-radius: 100px;
 }
 
 .textBox::-webkit-scrollbar-track:hover{
    background-color: #7c7c6a;
 }
 .textBox::-webkit-scrollbar-thumb:hover {
    background-color: #1410ed;
 }
 
